<div class="container">
    <h1>Mis artículos</h1>
    <% @posts.each do |post| %>
        <p>
        <%= link_to post.title, post %>
        <% if can?(:edit, post) %>
            <%= link_to 'Editar', edit_post_path(post) %>
        <% end %>
        <% if can? :destroy, post %>
            <%= link_to 'Eliminar', post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
        </p>
    <% end %>

    <%= link_to 'Nuevo', new_post_path, class: 'btn btn-primary' %>
</div>